# Sydney Sailors: Penguins Dataset

Author: Sydney Sailors

Purpose: Perform exploratory data analysis (EDA) using tools such as pandas, Seaborn, and Matplotlib.

## Imports section
1. pandas as pd
2. Seaborn as sns
3. Matplotlib
4. Numpy
5. Jupyterlab
6. matplotlib.axes as Axes

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib
import numpy
import jupyterlab

#Axes object (basic plot type returned by Seaborn)
from matplotlib.axes import Axes

## 1. Load Data

In [7]:
# Load the Penguins dataset into pandas Dataframe
penguins_df: pd.DataFrame = sns.load_dataset('penguins')

# List column names
penguins_df.columns

# Inspect first few rows of the DataFrame
penguins_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

## 2. Initial Data Inspection

In [ ]:
# Specify the number of rows to display
penguins_df.head(10)

# Inspect the shape of the DataFrame with shape attribute
penguins_df.shape

#